.x-robot {
  padding: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  position: relative;
}

.x-robot-header {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c9cdd4;
  padding-bottom: 4px;
}

.x-robot-loading {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.x-robot-m {
  flex: 1;
  overflow: auto;
}

.x-robot-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.x-robot-i {
  height: 3rem;
  border-top: 1px solid #c9cdd4;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.x-robot-i > svg {
  color: #85878c;
  cursor: pointer;
}

.x-robot-i > svg:hover {
  color: #039be5;
}

.x-robot-ii {
  flex: 1;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
}

.x-robot-u {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.x-robot-b {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 0.5rem;
}

.x-robot-a {
  display: block;
  width: 2rem;
  height: 2rem;
  margin-top: 16px;
  border-radius: 50%;
  object-fit: cover;
}

.x-robot-uc {
  flex: 1;
  padding-right: 0.5rem;
  padding-left: 36px;
  text-align: right;
}

.x-robot-ucc {
  max-width: max-content;
  margin-left: auto;
  background: #fff;
  color: white;
  border-radius: 0.25rem;
  border-top-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.5rem;
  text-align: left;
  background-color: rgb(var(--link-6));
  position: relative;
}

.x-robot-ucc::before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: rgb(var(--link-6));
  transform-origin: bottom center;
  transform: rotate(90deg);
  position: absolute;
  top: -2px;
  right: -4px;
}

.x-robot-bc {
  flex: 1;
}

.x-robot-bcc {
  font-weight: 400;
  background-color: var(--color-bg-4);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-left: 0.8rem;
  position: relative;
  max-width: max-content;
  border: 1px solid var(--color-border-2);
}

.x-robot-bcc::before {
  display: block;
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: var(--color-border-2);
  transform-origin: bottom center;
  transform: rotate(-90deg);
  position: absolute;
  left: -8px;
  top: -4px;
}

.x-robot-bcc-m {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.x-robot-bcc-mt {
  overflow: hidden;
  padding: 0.25rem 0.25rem 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  max-width: 300px;
}

.x-robot-bcc-mi {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.x-robot-bcc-mi-img {
  height: 8rem;
  object-fit: cover;
}

.x-robot-bcc-mb {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.x-robot-bcc-mb-primary {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.x-robot-bcc-mb-more {
  display: flex;
  justify-content: flex-end;
}

.x-robot-bcc-mb-button {
  min-width: 8rem;
  border: none;
  background: #4fc3f7;
  color: white;
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.x-robot-bcc-mb-button:hover {
  background: #039be5;
}

.x-robot-s {
  border: none;
  padding: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
}

.attachmentLink {
  display: flex;
  align-items: center;
}

.attachmentLink > a {
  margin-left: 4px;
  display: inline-block;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--color-text-1);
  cursor: pointer;
  text-decoration: underline;
}

.attachmentLink > a:hover {
  color: rgb(var(--link-6));
}

.similarsContainer {
  padding-left: 12px;
  margin-top: 4px;
}

.similarsContainer > span {
  font-size: 14px;
}

.similars {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-top: 4px;
}

.similars > span {
  display: block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.similars > a {
  display: block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(var(--link-6));
}
.similars > a:hover {
  text-decoration: underline;
}
