# database related conf
database.url=jdbc:mysql://127.0.0.1:3306?useUnicode=true&characterEncoding=UTF-8

database.username=root
database.password=changeit
database.initDb=true
database.backup=false
database.backupDir=/data/backup
# indicate the node id
nodeId=1
server.port=8000
# am i the master?
# if i'm the master I can update
isMaster=true

blobs.get.uri=/api/blobs/get

zbot.server.host=127.0.0.1
zbot.server.name=PromptAI
zbot.server.serverAddr=http://127.0.0.1
zbot.server.serverLoginAddr=http://127.0.0.1
zbot.server.port=80
zbot.server.secure=false
zbot.server.mailTo=info@promptai.us

# actuator
management.endpoint.prometheus.enabled=true
management.endpoints.web.exposure.include=prometheus

spring.servlet.multipart.maxFileSize=100MB
spring.servlet.multipart.maxRequestSize=200MB

# mongodb
mongodb.uri=mongodb://127.0.0.1:27017